*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
svg {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}
input::-moz-placeholder {
  color: inherit;
}
input::placeholder {
  color: inherit;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "Miama Nueva";
  src: url("../fonts/miamanueva.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Classica Two";
  src: url("../fonts/ClassicaTwo.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TheArtistScript";
  src: url("../fonts/TheArtistScript.otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  font-size: 10px;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #2F2F2F;
  background-color: #f5f6f1;
  line-height: 1.2;
}
body.is-loader {
  overflow: hidden;
}

.wrapper {
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  padding: 0 2rem;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.4rem;
  font-weight: 500;
}

.entry__date-line {
  opacity: 0.2;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom center;
     object-position: bottom center;
}

.hero__title {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  font-family: "TheArtistScript";
  font-size: 11rem;
  text-align: center;
  line-height: 1.1;
}
.hero__title-name {
  margin-left: 7rem;
}
.hero__title-symbol {
  position: absolute;
  bottom: 2rem;
  left: 11rem;
  font-size: 13rem;
}

.entry {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.entry__venzel {
  position: relative;
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.entry__venzel-letters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-family: "TheArtistScript";
}

.entry__verse {
  font-size: 2rem;
  text-align: center;
  line-height: 1.4;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 3rem;
}
.entry__verse-link {
  display: block;
  font-size: 2rem;
}

.entry__welcome {
  font-size: 2.4rem;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 2rem;
}

.entry__date {
  text-align: center;
  line-height: 1;
  font-size: 12rem;
  font-weight: 300;
  line-height: 1;
  font-style: italic;
}
.entry__date-line {
  margin-top: 2rem;
}

.timing {
  padding-top: 3rem;
  padding-bottom: 8rem;
}

.timing__title {
  margin-bottom: 5rem;
}

.timing__list {
  position: relative;
}

.timing__item:nth-child(2n) {
  text-align: right;
}

.timing__time {
  font-size: 7rem;
  line-height: 1;
}

.timing__event {
  font-size: 3.4rem;
  letter-spacing: 0.2rem;
}

.timing__line {
  position: absolute;
  opacity: 0.5;
}
.timing__line-first {
  top: 5rem;
  right: 10rem;
  width: 17rem;
}
.timing__line-second {
  top: 15rem;
  right: 16rem;
  width: 13rem;
}
.timing__line-third {
  bottom: 17rem;
  right: 16rem;
  width: 13rem;
}
.timing__line-fourth {
  bottom: 3rem;
  right: 10rem;
  width: 17rem;
}

.dress {
  padding-top: 5rem;
  padding-bottom: 7rem;
}

.dress__title {
  margin-bottom: 4rem;
}

.dress__list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2.5rem;
}

.dress__item {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1098039216);
}
.dress__item-pink {
  background-color: #dac7b8;
}
.dress__item-green {
  background-color: #afb997;
}
.dress__item-white {
  background-color: #ffffff;
}

.location {
  padding-bottom: 5rem;
}
.location iframe {
  width: 100%;
}

.location__title {
  margin-bottom: 2rem;
}

.location__link {
  width: 100%;
  padding: 2rem;
  background-color: #7f8c6b;
  color: #FFFFFF;
  font-size: 2.4rem;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1rem;
}

.gift {
  padding-bottom: 5rem;
}

.gift__title {
  margin-bottom: 3rem;
}

.gift__image {
  margin: 0 auto;
}

.order {
  padding-bottom: 8rem;
}

.order__title {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.order__desc {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 3rem;
}

.order__form {
  display: flex;
  flex-direction: column;
}

.order__input {
  width: 100%;
  height: 7.1rem;
  border: 0.2rem solid #7f8c6b;
  background-color: #FFFFFF;
  padding: 0 1.8rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 0.2rem;
}

.order__input::-moz-placeholder {
  color: #696969;
}

.order__input::placeholder {
  color: #696969;
}

.order__input + .order__input {
  margin-top: 2.1rem;
}

.order__be {
  margin: 2.1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.order__label {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-left: 4rem;
}

.order__label span {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.2rem;
}

.order__radio {
  position: relative;
  width: 0;
  height: 0;
}

.order__radio::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -4rem;
  width: 3rem;
  height: 3rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 0.2rem solid #7f8c6b;
  transition-duration: 300ms;
}

.order__radio::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -3.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #7f8c6b;
  border-radius: 50%;
  transition-duration: 300ms;
  opacity: 0;
}

.order__radio:checked::after {
  opacity: 1;
}

.order__submit {
  width: 100%;
  height: 7.1rem;
  background-color: #7f8c6b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  transition-duration: 300ms;
  opacity: 0;
  visibility: hidden;
}
.loader.is-loader {
  opacity: 1;
  visibility: visible;
}

.thanks {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.thanks__line {
  position: absolute;
  top: 5rem;
  left: 0;
  opacity: 0.1;
}

.thanks .container {
  min-width: 100%;
}

.thanks__title {
  font-size: 7rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.thanks__desc {
  font-size: 2.6rem;
  text-align: center;
}

.thanks__logo {
  margin: 2rem auto;
}

.thanks__link {
  display: block;
  width: 30rem;
  margin: 0 auto;
  text-align: center;
  padding: 1.8rem 0;
  border-radius: 1rem;
  background-color: #3d98ed;
  color: #FFFFFF;
  font-size: 2.6rem;
  font-weight: 700;
  text-decoration: none;
}

.footer {
  background-color: #b4b4b4;
}

.footer__link {
  display: block;
  width: 100%;
  color: #FFFFFF;
  text-decoration: none;
}

.footer .container {
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__name {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 1px solid #FFFFFF;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.preloader::before, .preloader::after {
  position: absolute;
  width: 50.2%;
  height: 100%;
  background-color: #FFFFFF;
  transition-duration: 500ms;
}
.preloader::before {
  content: "";
  top: 0;
  left: 0;
}
.preloader::after {
  content: "";
  top: 0;
  right: 0;
}
.preloader.active {
  visibility: hidden;
}
.preloader.active::before {
  transform: translateX(-100%);
  opacity: 0;
}
.preloader.active::after {
  transform: translateX(100%);
  opacity: 0;
}/*# sourceMappingURL=index.css.map */