html {
    font-size: 10px;
}

body {
    font-family: $font-main;
    color: $color-primary;
    background-color: $bg-light;
    line-height: 1.2;
}

.wrapper {
    max-width: 48rem;
    margin: 0 auto;
}

.container {
    padding: 0 2rem;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 500;
}

.entry__date-line {
    opacity: 0.2;
}