// fonts
$font-main: "Cormorant Garamond", serif;
$font-decorative: 'TheArtistScript';
// colors
$color-primary: #2F2F2F;
$accent-color: #FFFFFF;
$bg-light: #f5f6f1;
// other
$anim-time: 300ms;
$breakpoint-md: 1200px;
$breakpoint-sm: 767px;
$breakpoint-xs: 390px;