.entry {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.entry__venzel {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;

    &-letters {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.5rem;
        font-family: $font-decorative;
    }
}

.entry__verse {
    font-size: 2rem;
    text-align: center;
    line-height: 1.4;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 3rem;

    &-link {
        display: block;
        font-size: 2rem;
    }
}

.entry__welcome {
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 2rem;
}

.entry__date {
    text-align: center;
    line-height: 1;
    font-size: 12rem;
    font-weight: 300;
    line-height: 1;
    font-style: italic;

    &-line {
        margin-top: 2rem;
    }
}