.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
        position: absolute;
        width: 50.2%;
        height: 100%;
        background-color: #FFFFFF;
        transition-duration: 500ms;
    }

    &::before {
        content: '';
        top: 0;
        left: 0;
    }

    &::after {
        content: '';
        top: 0;
        right: 0;
    }

    &.active {
        visibility: hidden;

        &::before {
            transform: translateX(-100%);
            opacity: 0;
        }

        &::after {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}