.thanks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.thanks__line {
    position: absolute;
    top: 5rem;
    left: 0;
    opacity: 0.1;
}

.thanks .container {
    min-width: 100%;
}

.thanks__title {
    font-size: 7rem;
    line-height: 1;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2rem;
}

.thanks__desc {
    font-size: 2.6rem;
    text-align: center;
}

.thanks__logo {
    margin: 2rem auto;
}

.thanks__link {
    display: block;
    width: 30rem;
    margin: 0 auto;
    text-align: center;
    padding: 1.8rem 0;
    border-radius: 1rem;

    background-color: #3d98ed;
    color: #FFFFFF;

    font-size: 2.6rem;
    font-weight: 700;
    text-decoration: none;
}